{% extends "layout.html" %}

{% block title %}
    Configuration
{% endblock %}

{% block main %}
<div class="config-container">
    <h2>Journal Configuration</h2>
    
    <form id="config-form" action="/config" method="post">
    <!-- Weekly Goal Configuration -->
    <div class="config-item">
        <label for="weekly-goal-slider">Weekly Goal (days):</label>
        <input type="range" id="weekly-goal-slider" name= "weekly-goal" min="1" max="7" value={{ weekly_goal }} oninput="updateWeeklyGoalValue(this.value)">
        <span id="weekly-goal-value">{{ weekly_goal }}</span> days
    </div>

    <!-- Toggle Prompts -->
    <div class="config-item">
        <label for="toggle-prompts">Enable Entry Prompts:</label>
        <label class="switch">
            <input type="checkbox" id="toggle-prompts" name="toggle-prompts" {% if prompts_enabled == 1 %} checked {% endif %}>
            <span class="slider"></span>
        </label>
    </div>

    <button class="save-settings-btn" type="submit">Save Settings</button>
</form>
</div>
<script src="{{ url_for('static', filename='config.js') }}"></script>
{% endblock %}
